.fw-window {
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.836);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 90;
}

.fw-inner {
    position: relative;
    padding: 32px;
    width: 100vh;
    max-width: 1500px;
    border-radius: 5px;
    padding: 40px;
    cursor: default;
}

.fw-inner h4 {
    color:white;
    font-size: 1.5rem;
    max-width: 550px;
    margin: 0 0 15px 15px;
}

.fw-close-btn {
    position: absolute;
    top:-2rem;
    right: -3rem;
	transition: transform .25s, opacity .25s;
	opacity: .4;
	cursor: pointer;
	font-size: 6rem;
	font-family: serif;
    background: transparent;
    color:whitesmoke;
    border:none;
}

.fw-close-btn:before{
	content: "\d7";
}

.fw-close-btn:hover{
	opacity: 1;
	transform: rotate(90deg);
}

.sld-L-arrow, .sld-R-arrow{
    position: absolute;
    top: 45%;
    font-size: 4rem;
    font-weight: bold;
    color:whitesmoke;
    background: transparent;
    border: none;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: transform .25s, opacity .25s;
    opacity: .3;
}

.sld-R-arrow {
    right: -5rem;
}
.sld-L-arrow {
    left: -5rem;
}

.sld-L-arrow:hover {
    opacity: 1;
    transform:translateX(-25%);
}

.sld-R-arrow:hover {
    opacity: 1;
    transform:translateX(25%);
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}


@media only screen and (max-width: 900px){
    .fw-inner h4 {
        color:white;
        font-size: 1.1rem;
        max-width: 250px;
        margin: 0 0 15px 15px;
    }
    .sld-L-arrow, .sld-R-arrow{
        top: 90%;
        font-size: 3rem;
        padding: 1rem 0rem;
    }
    .sld-R-arrow {
        right: 8rem;
    }   
    .sld-L-arrow {
        left: 8rem;
    }
    .fw-close-btn {
        padding: 1rem 0rem;
        font-size: 5rem;
        top: -2rem;
        right: 2rem;
    }
}